.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cont-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.btn-cadastro {
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.h1-card {
  text-align: center;
}

.listaCards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}