.cont-app{
  min-height: 100vh;
  display: flex; 
  flex-direction: column;

}

.cont-header{
  background-color: brown;
  /*define a altura como 100 pixel */
  height: 100px;
}
.cont-main{
  background-color: gold;
  flex: 1;
}
